.tile {
    position: relative;
    border-radius: 3px;
}

.selected-tile {
    background-color: #d3dbed ;
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.selected-tile .value-container{
    position: relative;
    display: inline-block;
    font-size: 2em;
}

.unselected-tile {
    background-color: #3a3396;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #d3dbed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.unselected-tile img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
