.tile {
    position: relative;
    border-radius: 3px;
    width: calc(1em + 6px);
    height: calc(1em + 6px);
    box-sizing: border-box;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-tile {
    background-color: #d3dbed ;
    color: black;
    font-weight: 700;
}

.unselected-tile {
    background-color: #3a3396;
    border: 1px solid #d3dbed; 
    cursor: pointer;
}

.unselected-tile img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
